{%extends 'chatty_channels_app/base.html'%}
{%block content%}
<div class="container">
  <h1>You're in <span id="room" data-id="{{room.id}}">{{room.name}}</span></h1>
  <h3>Happy chatting!</h3>
  <div id="chat-log">
    {%for message in chat_messages%}
        <p><span class="bold">{{message.sender}}</span>: {{message.body}}, <span class="text-sm italic">{{message.timestamp}}</span></p>
    {%endfor%}
  </div>
  
  <!-- <form method="POST"> -->
    {%csrf_token%}
    <label class="padding-default" for="room">Message: </label>
    <input class="padding-default" id="chat-message-input" placeholder="Type your message here" type="text" name="message" />

    <button id="chat-message-submit" class="padding-default margin-default-y" type="submit">Send</button>
  <!-- </form> -->
  <div>
    <a href="{% url 'index' %}">
        <button class="padding-default" type="submit">Leave</button>
      </a>
      {%include 'chatty_channels_app/signout-button.html' %}
  </div>
 
</div>
<script>
    const room = document.getElementById('room').dataset.id

    const chatSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/chat/'
        + room
        + '/'
    );

    chatSocket.onmessage = (e) => {
        const data = JSON.parse(e.data);
        document.querySelector('#chat-log').innerHTML += `<p><span class="bold">${data.user}</span>: ${data.message}, <span class="text-sm italic">${data.timestamp}</span></p>`
    };

    chatSocket.onclose = (e) => {
        alert('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'user': `${'{{user.id}}'}`,
            'message': message
        }));
        messageInputDom.value = '';
    };
</script>
{%endblock%}